<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/auth/admd/images/icon/favicon.ico">
    <title>Activate your account</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/auth/singularity/script/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/auth/singularity/script/css/style-c.min.css" crossorigin="anonymous"> 
    <link rel="stylesheet" href="/auth/admd/script/sweetalert2-8.17.4/package/dist/sweetalert2.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/auth/admd/script/font-awesome-4.7.0/css/font-awesome.min.css" crossorigin="anonymous">
    
    
    <!-- <link rel="stylesheet" href="../script/css/bootstrap.min.css">    
    <link rel="stylesheet" href="../script/css/style-c.min.css">
    <link rel="stylesheet" href="../script/sweetalert2-8.17.4/package/dist/sweetalert2.min.css">
    <link rel="stylesheet" href="../script/font-awesome-4.7.0/css/font-awesome.min.css"> -->
</head>

<body class="bg">
        <!-- <div class="bg"></div> -->
    <!-- <img src="/auth/admd/images/icon/BG.png" alt="" class="bg"> -->
    <!-- <img src="../images/icon/BG.png" alt="" class="bg"> -->
   
    <div class="content-xs" id="form-sign">
        <!-- START Login from -->
        <div class="row ">
            <!-- <div class="col-md-12 text-center mt-3"><img src="/auth/singularity/images/icon/ic-success.png"></div> -->
            <div class="col-md-12 text-center mt-5 "><img style="width: 75px" src="/auth/admd/images/icon/like.svg"></div>
        </div>
        <div class="row"> 
                <label class="h-content mx-auto ">SUCCESSFULLY REGISTERED</label>
             </div>
        <div class="row"> 
                <label class="h-mute mx-auto ">Please confirm the registration in the email used to apply.</label>
             </div>
       
    
        <!-- END Login from -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
        <script src="/auth/admd/script/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- <script src="/auth/admd/script/js/emailpassword.js" crossorigin="anonymous"></script> -->
    <script src="/auth/admd/script/sweetalert2-8.17.4/package/dist/sweetalert2.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/facebookLogin.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/lineLogin.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/googleLogin.js" crossorigin="anonymous"></script>


    <!-- <script src="../script/js/jquery-3.3.1.min.js"></script>
    <script src="../script/js/popper.min.js" ></script>
    <script src="../script/js/bootstrap.min.js" ></script>
    <script src="../script/sweetalert2-8.17.4/package/dist/sweetalert2.min.js" ></script>
    <script src="../script/js/facebookLogin.js" ></script>
    <script src="../script/js/lineLogin.js" ></script>
    <script src="../script/js/googleLogin.js"></script> -->


    <!-- <script src="../script/js/emailpassword.js" ></script> -->

</body>

</html>