<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/auth/admd/images/icon/favicon.ico">
    <title>Change password</title>
    <!-- Bootstrap CSS -->
     <link rel="stylesheet" href="/auth/admd/script/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/auth/admd/script/css/style-c.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/auth/admd/script/sweetalert2-8.17.4/package/dist/sweetalert2.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="/auth/admd/script/font-awesome-4.7.0/css/font-awesome.min.css" crossorigin="anonymous">

</head>

<body class="bg">
    <div class="content-xs" id="form-sign">
        <!-- START Login from -->
        <div class="row">
            <!-- <div class="col-md-12 text-center mt-3"><img src="/auth/singularity/images/icon/ic-success.png"></div> -->
            <!-- <div class="col-md-12 text-center mt-5"><img style="width: 75px;" src="/auth/admd/images/icon/like.svg"></div> -->
        </div>
        <div class="row">
            <label class="h-content mx-auto" style="text-align: left !important;">Reset password</label>
        </div>
        <div class="row">
            <label class="h-mute mx-auto">We have sent an email to your email,
                Click the link to resent the password within 24 hour.</label>
        </div>
        <div class="row" style="margin-top: 100px;">
            <div class="col-3 mx-auto">
                <button id="close_tab" onclick="window.close();"
                    type="button" 
                    class="btn btn-block btn-sgl-success rounded-0 text-lg">
                    DONE</button>
            </div>
        </div>
        <!-- END Login from -->
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
   <script src="/auth/admd/script/js/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/popper.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <!-- <script src="/auth/admd/script/js/emailpassword.js" crossorigin="anonymous"></script> -->
    <script src="/auth/admd/script/sweetalert2-8.17.4/package/dist/sweetalert2.min.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/facebookLogin.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/lineLogin.js" crossorigin="anonymous"></script>
    <script src="/auth/admd/script/js/googleLogin.js" crossorigin="anonymous"></script>
</body>

</html>